body{
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #ede9e1;
    font-family: 'Trispace', sans-serif;

}
.header-box{
    width: auto;
    height: auto;
}
.header-box-top{
    width: auto;
    height: 80px;
    background-color: white;
}
.header-box-top img{
    width: 200px;
    margin-top: -68px;
    margin-left: 50px;
}
.buy-now-button{
    width: 120px;
    height: 32px;
    background-color: #dea932;
    text-align: center;
    border-radius: 35px;
    float: right;
    margin-top: 21px;
    margin-right: 200px;
}
.buy-now-button a{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.buy-now-button:hover{
    background-color: #0f0f0f;
}
.buy-now-button a:hover{
    color: white;
}
.main-box{
    width: auto;
    height: auto;
}
.menu-box-top{
    width: auto;
    height: auto;
    float: right;
    margin-top: 25px;
    margin-right: -256px;
}
.menu-box-top a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 15px;
    display: block;
    margin-top: 0;
    float: left;
}
.menu-box-top i{
    font-size: 25px;
}
.sub-menu{
    width: 200px;
    height: 400px;
    background-color: #16151540;
    position: absolute;
    margin-top: 55px;
    padding-top: 30px;
    margin-left: -30px;
    display: none;
}
.sub-menu li{
    list-style: none;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 600;
} 
.active .sub-menu{
    display: block;
}
.back-to-box{
    width: 75px;
    height: auto;
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0f0f0f;
}
.back-to-box i{
    color: #0f0f0f;
    font-size: 20px;
}
.back-to-box a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
.back-to-box a:hover{
    color: #dea932;
}
.login-discount-bar{
    margin-top: 30px;
}
.login-discount-bar span{
    color: #0f0f0f;
    font-size: 14px;
}
.login-bar{
    width: 100%;
    height: 45px;
    background-color: white;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-left: 15px;
}
.login-bar a{
    text-decoration: none;
    color: #dea932;
    font-size: 14px;
}
.discount-bar{
    width: 100%;
    height: 45px;
    background-color: white;
    padding-top: 10px;
    padding-left: 15px;
}
.discount-bar a{
    text-decoration: none;
    color: #dea932;
    font-size: 14px;
}
.billing-box{
    width: 610px;
    height: 510px;
    margin-top: 150px;
    float: left;
}
.billing-box label{
    color: #dea932;
}
.billing-box input{
    /*border: 1px solid #dea932;*/
}
.billing-box div{
    margin-bottom: 15px;
}
.title-billing{
    color: #0f0f0f;
    font-size: 30px;
    text-align: center;
}
.first-name-bar{
    float: left;
    margin-right: 15px;
}
.first-name-bar input{
    width: 300px;
    height: 40px;
}
.last-name-bar input{
    width: 295px;
    height: 40px;
}
.company-bar input{
    width: 100%;
    height: 40px;
}
.email-address-bar{
    float: left;
    margin-right: 15px;
}
.email-address-bar input{
    width: 300px;
    height: 40px;
}
.phone-bar input{
    width: 295px;
    height: 40px;
}
.Address-bar input{
    width: 100%;
    height: 40px;
}
.apartment-bar input{
    width: 100%;
    height: 40px;
}
.country-bar{
    float: left;
    margin-right: 15px;
}
.country-bar input{
    width: 300px;
    height: 40px;
}
.postcode-bar input{
    width: 295px;
    height: 40px;
}
.checkbox{
    width: 20px;
    height: 20px;
    float: left;
}
.check-box a{
    text-decoration: none;
    display: block;
    width: 250px;
    color: #0f0f0f;
    font-size: 14px;
    padding-left: 25px;
    margin-top: 5px;
}
.container{
    width: 1300px;
}
.information-different{
    width: 610px;
    height: 510px;
    margin-top: 150px;
    float: left;
    margin-left: 50px;
}
.information-different label{
    color: #dea932;
}
.information-different div{
    margin-bottom: 15px;
}
.ship-different-title{
    color: #0f0f0f;
    font-size: 30px;
    text-align: center;
}
.text-note{
    max-width: 610px;
    max-height: 170px;
}
.your-older{
    width: 100%;
    height: auto;
    margin-top: 150px;
    float: left;
}
.title-box-3{
    display: block;
    color: #0f0f0f;
    font-size: 35px;
}
.box-1 {
    width: 650px;
    height: auto;
    float: left;
}
.box-1 table{
    background-color: white;
}
.line-top-table th{
    color: #0f0f0f;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 5px;
    height: 50px;
}
.line-body-table td{
    height: 50px;
}
.product{
    width: 220px;
}
.name-product{
    font-size: 17px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    color: #dea932;
    height: 50px;
}
.price-product{
    padding-left: 15px;
    color: #0f0f0f;
    font-size: 16px;
    height: 50px;
}
.subtotal{
    color: #0f0f0f;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 5px;
    height: 50px;
}
.price-subtotal{
    padding-left: 15px;
    color: #0f0f0f;
    font-size: 16px;
    height: 50px;
}
.shipping{
    color: #0f0f0f;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 5px;
    height: 50px;
}
.note-ship{
    padding-left: 15px;
    color: #0f0f0f;
    font-size: 16px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom: 5px;
}
.total-last{
    color: #0f0f0f;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
}
.price-total{
    padding-left: 15px;
    color: #0f0f0f;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box-2{
    width: 570px;
    height: auto;
    background-color: white;
    margin-left: 50px;

}
.box-2{
    float: left;
    padding: 15px 20px
}
.box-2-top{
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.box-2 input{
    width: 17px;
    height: 17px;
}
.box-2 span{
    color: #0f0f0f;
    font-size: 16px;
    font-weight: bold;
    padding-top: 13px;
}
.box-2 p{
    padding-left: 25px;
}
.box-2-under{
    margin-top: 25px;
    padding-bottom: 21px;
}
.box-2-under a{
  text-decoration: none;
}
.box-2-under img{
    margin-top: 15px;
}
.button-place-older{
    display: block;
    margin-top: 65px;
    margin-right: 15px;
    float: right;
    width: 175px;
    height: 45px;
    background-color: #dea932;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
}
.button-place-older:hover{
   color: white;
    background-color: #0f0f0f;
}
.your-older a{
    text-decoration: none;
}
.footer-box{
    width: auto;
    height: 420px;
    background-color: whitesmoke;
    text-align:center ;
    margin-top: 120px;
}
.footer-box img{
    width: 300px;
    display: inline-block;
    margin-top: -50px;
}
.footer-box  p{
    color: #0f0f0f9e;
    font-size: 16px;
    width: 600px;
    display: block;
    margin-top: -100px;
    margin-left: 336px;
    font-style: italic;
}
.list-menu-footer{
    display: inline-block;
}
.list-menu-footer li{
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-right: 45px;
}
.list-menu-footer a{
    color: #0000007a;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.list-menu-footer a:hover{
    color: #dea932;
}
.icon-social-footer{
    margin-left: 575px;
    margin-top: 45px;

}
.icon-social-footer i{
    float: left;
    margin-right: 20px;
}
.icon-social-footer a{
    color: #0000007a ;
    font-size: 23px;
}
.icon-social-footer a:hover{
    color: #dea932;
}








