
body{
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #ede9e1;
    font-family: 'Trispace', sans-serif;

}
.header-box{
    width: auto;
    height: 500px;
}
.header-box-top{
    width: auto;
    height: 80px;
    background-color: white;
}
.header-box-top img{
    width: 200px;
    margin-top: -68px;
    margin-left: 50px;
}
.buy-now-button{
    width: 120px;
    height: 32px;
    background-color: #dea932;
    text-align: center;
    border-radius: 35px;
    float: right;
    margin-top: 21px;
    margin-right: 200px;
}
.buy-now-button a{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.buy-now-button:hover{
    background-color: #0f0f0f;
}
.buy-now-button a:hover{
    color: white;
}
.menu-box-top{
    width: auto;
    height: auto;
    float: right;
    margin-top: 25px;
    margin-right: -256px;
}
.menu-box-top a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 15px;
    display: block;
    margin-top: 0;
    float: left;
}
.menu-box-top i{
    font-size: 25px;
}
.header-box-under{
    width: auto;
    height: 400px;
    background-image: url("../image/background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-box-under h1{
    color: white;
    text-align: center;
    padding-top: 145px;
    font-size: 70px;
    font-weight: bold;
}
.main-box{
    width: auto;
    height: auto;
    text-align: center;
}
.map-address{
}
.map{
    position: relative;
    width: 100%;
    height: 900px;
    z-index: 1;
}
.background-blur{
    background-color: #0f0f0f;
    width: 100%;
    height: 100%;
}
.contact-box{
    position: absolute;
    width: 770px;
    height: 500px;
    background-color: white;
    z-index: 2;
    margin-top: -700px;
    margin-left: 180px;
    box-shadow: 0 0 5px #2aabd2;
    text-align: left;
    padding: 70px 125px;
}
.contact-box h2{
    color: #0f0f0f;
    font-size: 20px;
}
.contact-box p{
    color: #0f0f0f9c;
    font-size: 14px;
    width: 170px;
}
.information-box{
    float: left;
    border-right: 1px solid #0f0f0f2b;
    padding-right:90px;
}
.info-address{
    padding-bottom: 35px;
    border-bottom: 1px solid #0f0f0f2b;
}
.opening-hours{
    padding-top: 35px;
}
.get-in-touch{
    margin-left: 350px;
}
.form-group{
    margin-top: 25px;
}
.form-group label{
    color: #dea932;
    font-size: 15px;
    font-weight: 600;
}
.form-group input{
    width: 170px;
    height: 40px;
}
.get-in-touch a{
    text-decoration: none;
    color: white;
}
.get-in-touch a:hover{
}
.send-request-button{
    display: block;
    margin-top: 35px;
    color: white;
    background-color: #dea932;
    text-align: center;
    width: 170px;
    height: 42px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 35px;
}
.send-request-button:hover{
    background-color: #0f0f0f;
    color: white;
}

.footer-box{
    width: auto;
    height: 420px;
    background-color: whitesmoke;
    text-align:center ;
}
.footer-box img{
    width: 300px;
    display: inline-block;
    margin-top: -50px;
}
.footer-box  p{
    color: #0f0f0f9e;
    font-size: 16px;
    width: 600px;
    display: block;
    margin-top: -100px;
    margin-left: 286px;
    font-style: italic;
}
.list-menu-footer{
    display: inline-block;
}
.list-menu-footer li{
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-right: 45px;
}
.list-menu-footer a{
    color: #0000007a;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.list-menu-footer a:hover{
    color: #dea932;
}
.icon-social-footer{
    margin-left: 513px;
    margin-top: 45px;

}
.icon-social-footer i{
    float: left;
    margin-right: 20px;
}
.icon-social-footer a{
    color: #0000007a ;
    font-size: 23px;
}
.icon-social-footer a:hover{
    color: #dea932;
}