.sub-menu{
    width: 200px;
    height: 400px;
    background-color: #16151540;
    position: absolute;
    margin-top: 55px;
    padding-top: 30px;
    margin-left: -30px;
    display: none;
}
.sub-menu li{
    list-style: none;
}
.sub-menu li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 600;
}
.sub-menu .about-submenu{
    color: #dea932;
}
.active .sub-menu{
    display: block;
}