
body{
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #ede9e1;
    font-family: 'Trispace', sans-serif;

}
.header-box{
    width: auto;
    height: 500px;
}
.header-box-top{
    width: auto;
    height: 80px;
    background-color: white;
}
.header-box-top img{
    width: 200px;
    margin-top: -68px;
    margin-left: 50px;
}
.buy-now-button{
    width: 120px;
    height: 32px;
    background-color: #dea932;
    text-align: center;
    border-radius: 35px;
    float: right;
    margin-top: 21px;
    margin-right: 200px;
}
.buy-now-button a{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.buy-now-button:hover{
    background-color: #0f0f0f;
}
.buy-now-button a:hover{
    color: white;
}
.menu-box-top{
    width: auto;
    height: auto;
    float: right;
    margin-top: 25px;
    margin-right: -256px;
}
.menu-box-top a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 15px;
    display: block;
    margin-top: 0;
    float: left;
}
.menu-box-top i{
    font-size: 25px;
}
.sub-menu{
    width: 200px;
    height: 400px;
    background-color: #16151540;
    position: absolute;
    margin-top: 55px;
    padding-top: 30px;
    margin-left: -30px;
    display: none;
}
.sub-menu li{
    list-style: none;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 600;
}
.sub-menu .shop-submenu{
    color: #dea932;
}
.active .sub-menu{
    display: block;
}
.header-box-under{
    width: auto;
    height: 400px;
    background-image: url("../image/background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-box-under h1{
    color: white;
    text-align: center;
    padding-top: 145px;
    font-size: 70px;
    font-weight: bold;
}
.buy-bar{
    width: auto;
    height: 45px;
    background-color: #0f0f0f;
    color: white;
    padding-top: 10px;
}
.category{
    float: left;
    margin-right: 55px;
    width: 200px;
    border-right: 1px solid #ffffff6b;
}
.category span{
    color: #ffffffb8;
    font-size: 17px;
    font-weight: bold;
}
.category a{
    font-size: 17px;
    font-weight: bold;
    color: #ffffffb8;
    text-decoration: none;
}
.add-list-box{
    float: right;
    padding-right: 48px;
    position: relative;
}
.sub-category{
    position: absolute;
    width: 170px;
    height: 100px;
    background-color: white;
    margin-left: 0px;
    margin-top: 11px;
    box-shadow: 0 0 3px #0f0f0f47;
    z-index: 2;
    display: none;
}
.sub-category ul{
    padding-left: 10px;
    margin: 0;
}
.sub-category li{
    list-style: none;
    padding-top: 10px;
    margin-right: 15px;
    width: 100%;
}
.sub-category a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    padding-left: -15px;
}
.sub-category ul li:hover{
    color: #dea932;
}
.active .sub-category{
    display: block;
}
.sortby span{
    color: #ffffffb8;
    font-size: 17px;
    font-weight: bold;
}
.sortby a{
    font-size: 17px;
    font-weight: bold;
    color:#ffffffb8;
    text-decoration: none;
}
.add-list-box-2{
    float: right;
    padding-right: 723px;
    position: relative;
}
.sub-sort{
    position: absolute;
    width: 170px;
    height: 100px;
    background-color: white;
    margin-left: 0px;
    margin-top: 11px;
    box-shadow: 0 0 3px #0f0f0f47;
    z-index: 2;
    display: none;
}
.sub-sort ul{
    padding-left: 10px;
    margin: 0;
}
.sub-sort li{
    list-style: none;
    padding-top: 10px;
    margin-right: 15px;
    width: 100%;
}
.sub-sort a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    padding-left: -15px;
}
.sub-sort ul li:hover{
    color: #dea932;
}
.active .sub-sort{
    display: block;
}
.cart-box{
    float: right;
    margin-top: -21px;
}
.cart-box i{
    color: white;
    float: left;
}
.count{
    display: block;
    margin-top: -10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-color: #dea932;
    border-radius: 50%;

}
.cart-box span{
    float: left;
}
.count a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding-left: 4px;
   display: block;
    margin-top: -2px;
}
.main-box{
    width: auto;
    height: auto;
    padding-top: 120px;
}
.contact-bar{
    width: 250px;
    height: 40px;
    background-color: #27bae7;
    position: fixed;
    z-index: 3;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    transition: 0.7s;
}
.active .contact-bar{
    display: none;
}
.contact-bar:hover{
    transition: 0.3s;
    bottom: 5px;
    background-color: #085b6d;
}
.contact-bar span{
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding-top: 8px;
    padding-left: 20px;
    float: left;
}
.contact-bar i{
    color: white;
    font-size: 25px;
    float: right;
    padding-top: 9px;
    padding-right: 15px;
}
.chat-box{
    width: 385px;
    height: 415px;
    background-color: #ecf0ef;
    position:fixed ;
    right: 0;
    bottom: 0;
    display: none;
    text-align: left;
    z-index: 3;
}
.active .chat-box{
    display: block;
}
.chat-box-top{
    width: 100%;
    height: 42px;
    background-color: #2aabd2;
}
.chat-box-top span{
    padding-left: 59px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.dots-chat{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 11px;
}
.minus-chat{
    color: white;
    font-size: 18px;
    padding-left: 40px;
}
.input-box{
    width: 330px;
    height: 325px ;
    border: 1px solid #00000026;
    padding: 20px 15px;
    border-radius: 5px;
    margin-left: 27px;
    margin-top: 30px;
}
.input-box input{
    height: 38px;
}
.start-chat-button{
    color: white;
    background-color: #9bdb4d;
    font-size: 18px;
    padding: 10px 69px;
    text-decoration: none;
    display: block;
    margin-top: 25px;
    border-radius: 6px;
    transition: 0.5s;
}
.start-chat-button:hover{
    color: white;
    text-decoration: none;
    background-color: #599811;
    transition: 0.5s;
}
.product-box{
    background-color: white;
    width: 370px;
    height: 530px;
    text-align: center;
    padding-top: 30px;
    margin-right: 20px;
    margin-bottom: 35px;
    z-index: 1;
}
.product-box img{
    padding-top: 30px;
    height: 223px;
}
.product-box a{
    color: #0f0f0f;
    font-size: 19px;
    width: auto;
    height: 54px;
    display: block;
    margin-top: 45px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}
.product-box p{
    color: #0f0f0f;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}
.add-to-cart{
    width: 200px;
    height: 40px;
    background-color: #dea932;
    position: relative;
    margin-top: -20px;
    margin-left: 38px;
    border-radius: 35px;
    overflow: hidden;
}
.add-to-cart:hover .cart-icon{
    background-color: #dea932;
}
.add-to-cart:hover{
    background-color: #0f0f0f;
}
.cart-icon{
    color: white;
    width:65px ;
    float: left;
    height: 40px;
    background-color: #0f0f0f;
}

.add-to-cart i{
    color: white;
    font-size: 18px;
    display: block;
    margin-top: 11px;

}
.add-to-cart-button{
    color: white;
    font-size: 15px;
    text-decoration: none;
    width: 200px;
    height: auto;
    padding-right: 0;
    display: block;
    margin-top: 9px;
}
.main-box{
    text-align: center;
}
.list-page-post{
    display: inline-block;
    text-align: center;
    width: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.list-page-post a{
    text-decoration: none;
    color: #00000087;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}
.list-page-post .page-1{
    color: #0f0f0f;
}
.list-page-post a:hover{
    color:#dea932 ;
}
.list-number{
    margin-bottom: 10px;
    float: left;
}
.arrow-left{
    color:#00000087;
    font-size: 30px;
    padding-right: 45px;
    float: left;
}
.arrow-right{
    color:#00000087;
    font-size: 30px;
    padding-left: 45px;
}
.footer-box{
    width: auto;
    height: 420px;
    background-color: whitesmoke;
    text-align:center ;
}
.footer-box img{
    width: 300px;
    display: inline-block;
    margin-top: -50px;
}
.footer-box  p{
    color: #0f0f0f9e;
    font-size: 16px;
    width: 600px;
    display: block;
    margin-top: -100px;
    margin-left: 286px;
    font-style: italic;
}
.list-menu-footer{
    display: inline-block;
}
.list-menu-footer li{
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-right: 45px;
}
.list-menu-footer a{
    color: #0000007a;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.list-menu-footer a:hover{
    color: #dea932;
}
.icon-social-footer{
    margin-left: 513px;
    margin-top: 45px;

}
.icon-social-footer i{
    float: left;
    margin-right: 20px;
}
.icon-social-footer a{
    color: #0000007a ;
    font-size: 23px;
}
.icon-social-footer a:hover{
    color: #dea932;
}

