body{
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #ede9e1;
    font-family: 'Trispace', sans-serif;

}
.header-box{
    width: auto;
    height: 500px;
}
.header-box-top{
    width: auto;
    height: 80px;
    background-color: white;
}
.header-box-top img{
    width: 200px;
    margin-top: -68px;
    margin-left: 50px;
}
.buy-now-button{
    width: 120px;
    height: 32px;
    background-color: #dea932;
    text-align: center;
    border-radius: 35px;
    float: right;
    margin-top: 21px;
    margin-right: 200px;
}
.buy-now-button a{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.buy-now-button:hover{
    background-color: #0f0f0f;
}
.buy-now-button a:hover{
    color: white;
}
.menu-box-top{
    width: auto;
    height: auto;
    float: right;
    margin-top: 25px;
    margin-right: -256px;
}
.menu-box-top a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 15px;
    display: block;
    margin-top: 0;
    float: left;
}
.menu-box-top i{
    font-size: 25px;
}
.header-box-under{
    width: auto;
    height: 400px;
    background-image: url("../image/background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.header-box-under h1{
    color: white;
    text-align: center;
    padding-top: 77px;
    font-size: 70px;
    font-weight: bold;
}
.star-rate-box{
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}
.star-rate-off{
    width: 100px;
    height: 20px;
    background-image: url("../image/star-rate/star-off.png");
    background-repeat: repeat-x;
    background-size: 20px 20px;
}
.star-rate-off .star-rate-on{
    float: left;
    height: 20px;
    background-image: url("../image/star-rate/star-on.png");
    background-repeat: repeat-x;
    background-size: 20px 20px;
}
.header-box-under p{
    color: white;
    font-size: 16px;

}
.write-review-button{
    width: 250px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #dea932;
    padding:15px 20px ;
    border-radius: 35px;
    display: inline-block;
    margin-top: 20px;
}
.write-review-button:hover{
    background-color: #0f0f0f;
    color: white;
}
.content-box-2{
    width: auto;
    height: auto;
    background-color: #ede9e1;
    text-align: center;
}
.title-box-2{
    display: inline-block;
    margin-top: 80px;
}
.title-box-2 h1{
    color: black;
    font-size: 50px;
}
.title-box-2 p{
    display: block;
    color: #0000005e;
    font-size: 18px;
    width: 830px;
    margin-top: 27px;
}
.reviews-box{
    margin-top: 50px;
    display: inline-block;
    width: 1000px;
    height: auto;
    background-color: white;
}
.review-1{
    width: 750px;
    height: 400px;
    display: inline-block;
    border-bottom: 1px solid #0000002e;
}
.review-1 img{
    float: left;
    margin-top: 75px;
}
.review-content{
    text-align: left;
    margin-left: 143px;
    margin-top: 50px;
}
.review-content h1{
    display: block;
    color: black;
    font-size: 25px;
    float: left;
}
.review-content p{
    display: block;
    margin-top: 20px;
    color: #0000008c;
    font-size: 15px;
    font-style: italic;
}
.icon-social{
    margin-top: 35px;
}
.icon-social i{
    color: black;
    font-size: 22px;
    padding-right: 30px;
}
.view-all-reviews-button{
    margin-top: 80px;
    margin-bottom: 50px;
}
.view-all-reviews-button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #dea932;
    font-weight: bold;
    padding: 20px;
    border-radius: 35px;
}
.view-all-reviews-button a:hover{
    background-color: #0f0f0f;
}
div.container{
    width: 1200px;
}
.star-rate-reviewer{
    width: 100px;
    height: 60px;
    padding-top: 25px;
    margin-left: 231px;
}
.star-rate-off-review{
    width: 100px;
    height: 20px;
    background-image: url("../image/star-rate/star-off.png");
    background-repeat: repeat-x;
    background-size: 20px 20px;
}
.star-rate-off-review .star-rate-on-review{
    float: left;
    height: 20px;
    background-image: url("../image/star-rate/star-on.png");
    background-repeat: repeat-x;
    background-size: 20px 20px;
}
.content-box-3{
    text-align: center;
    margin-top: 150px;
    width: auto;
    height: auto;
    overflow: hidden;
}
.content-box-3 h1{
    color: black;
    font-size: 50px;
}
.content-box-3 p{
    color: #0000005e;
    font-size: 18px;
    width: 830px;
    display: inline-block;
    margin-top: 27px;
}
.reviewer-box{
    margin-top: 80px;
}
.review-content-box3{
    width: 370px;
    height: 613px;
    margin-bottom: 25px;
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
}
.review-content-box3 img{
    padding-top: 70px;
}
.star-rate-reviewer-b3{
    margin-top: 15px;
    display: inline-block;
}
.review-content-box3 p{
    padding: 10px 15px;
    width: 300px;
    height: 220px;
    font-size: 14px;
    font-style: italic;
}
.content-box-3 .icon-social-box3{
    margin-left: 30px;
}
.icon-social-box3 i{
    color: black;
    font-size: 20px;
    padding-right: 30px;
}
.content-box-4{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 150px;
}
.content-box-4 h1{
    color: black;
    font-size: 50px;
}
.content-box-4 p{
    color: #0000005e;
    font-size: 18px;
    width: 830px;
    display: inline-block;
    margin-top: 27px;
}
.testimonials-3{
    margin-top: 50px;
    text-align: center;
}
.quote-1{
    background-color: white;
    width: 970px;
    height: 350px;
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
}
.quote-1 img{
    float: left;
    margin-top: 50px;
    margin-left: 56px;
}
.des-quote-1{
    margin-left: 225px;
}
.des-quote-1 .star-rate-reviewer{
    float: right;
    margin-right: 144px;
    margin-top: -58px;
}
.des-quote-1 h2{
    color: #0f0f0f;
    font-size: 23px;
    padding-top: 35px;
}
.des-quote-1 .writer-time{
    display: block;
    margin-top: 12px;
    font-size: 14px;
}
.des-quote-1 .content-quote{
    color: #0f0f0f85;
    font-size: 16px;
    width: 650px;
    display: block;
    margin-top: 35px;
}
.footer-box{
    width: auto;
    height: 420px;
    background-color: whitesmoke;
    text-align:center ;
    margin-top: 120px;
}
.footer-box img{
    width: 300px;
    display: inline-block;
    margin-top: -50px;
}
.footer-box  p{
    color: #0f0f0f9e;
    font-size: 16px;
    width: 600px;
    display: block;
    margin-top: -100px;
    margin-left: 286px;
    font-style: italic;
}
.list-menu-footer{
    display: inline-block;
}
.list-menu-footer li{
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-right: 45px;
}
.list-menu-footer a{
    color: #0000007a;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.list-menu-footer a:hover{
    color: #dea932;
}
.icon-social-footer{
    margin-left: 513px;
    margin-top: 45px;

}
.icon-social-footer i{
    float: left;
    margin-right: 20px;
}
.icon-social-footer a{
    color: #0000007a ;
    font-size: 23px;
}
.icon-social-footer a:hover{
    color: #dea932;
}



